* {
  box-sizing: border-box;
}

.flexcontainer { /* Used to stretch image*/
	display: flex; 
	flex-wrap: wrap;
	justify-content:left;
	flex-direction: row;
} 

.box{ /*Make box appear as text to replicate Metro UI look*/
	background-color:black;
	padding:10px;
	text-align:center;
	width:100%;
}

body {font-family: Roboto, sans-serif; color: white} 
body {padding:10px;text-align:center;} 
body {background-color: black;} /* Used to make the text box transparent*/
body {font-family: SegoeUI;text-align:left;background-color: black;padding:10px;} 
header{font-family: SegoeUI;text-align:center;padding:10px;} 
footer {text-align:center;padding:10px;}

@font-face {
  font-family: SegoeUI;
  src: url(./fonts/segoeuithis.ttf); /* Uses custom ttf to replicate Metro UI look*/
}
h1{font-size: 32px;}
small{word-spacing: 3px;text-overflow: clip; line-height: 2;}
p{font-size: 15px;}

@media (max-width:800px){ /*at mobile size*/
	#qrCodeImg{display:none;}
	#mobile{display:none;}
	button {background-color: black;border: none;font-family: SegoeUI;color: gray;padding:0px 10px;text-align: center;text-decoration: none;display: 
	inline-block;cursor: pointer;transition: color 2s; text-overflow: clip;font-size: 10px;}
	h1{font-size: 30px;}
	small{word-spacing: 3px;text-overflow: clip; line-height: 2;}
	.page{transition-duration: 0.4s;}
	/*hide QR code */
	
}

button {background-color: black;border: none;font-family: SegoeUI;color: gray;padding:0px 10px;text-align: center;text-decoration: none;display: 
inline-block;cursor: pointer;transition: color 2s; text-overflow: clip;font-size: 26px;} /* Transition used to fade in colours, make button colour the same as background to make it look transparent*/
button:hover {color: white;}

.page{transition-duration: 0.4s;animation-name: myAnimation;animation-duration: 1.5s;background:black;} /*max width and max height used in a flex*/
#playspace{height:300px;background:black}
/*width:max-width;height:max-height;*/
nav ul li{display:inline;}

@keyframes myAnimation {
  0%   {color: black;} /*Animation used to simulate fade in*/
}
space {flex:100%}

#windowId {position: relative;width:20vw;transition: all 0.25s;}
#windowId.shrink{width:10vw;opacity: 0;}

@keyframes windowFrames{
25%{rotate:90deg}
50%{rotate:180deg}
100%{rotate:270deg}
}
#windowId.anim1{animation: windowFrames 1s;}
